body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#root {
  width: 1600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}


.footer__copyright, .menu > ul {
  display: flex;
  justify-content: space-between;
}

.menu > ul {
  padding: 0;
}

li, a {
  display: inline-block;
  text-decoration: none;
  color: blue;
}

.menu > ul > li,
.menu > ul > div > li {
  position: relative;
}

.menu > ul > div {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.menu > ul > li > a::after,
.menu > ul > div > li > a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  height: 3px;
  width: 0;
  background: #7cdaa1;
  -webkit-transition: width .3s ease;
  -o-transition: width .3s ease;
  transition: width .3s ease;
}

.menu > ul > li > a:hover:after,
.menu > ul > li > a:focus:after,
.menu > ul > div > li > a:hover:after{
  width: 100%;
}

.not_found_404__img {
  width: 100%;
}


.not_found_404__h1 {
  text-align: center;
  margin: 35px 0 0 0;
}